exclude *

include README.rst
include CHANGELOG.rst
include AUTHORS.rst
include LICENSE

include pyproject.toml
recursive-include gaitalytics *.py

include ./tests/test_api.py
include ./tests/test_small.c3d
include ./tests/pig_config.yaml


prune tests/full
prune conda.recipe

